In [1]:
pip install pandas

Requirement already satisfied: pandas in /Users/guyuhui/micromamba/lib/python3.9/site-packages (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/guyuhui/micromamba/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/guyuhui/micromamba/lib/python3.9/site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /Users/guyuhui/micromamba/lib/python3.9/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.20.3 in /Users/guyuhui/micromamba/lib/python3.9/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /Users/guyuhui/micromamba/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [87]:
pip install scipy

Collecting scipy
  Downloading scipy-1.10.1-cp39-cp39-macosx_10_9_x86_64.whl (35.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 35.2/35.2 MB 11.9 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: numpy<1.27.0,>=1.19.5 in /Users/guyuhui/micromamba/lib/python3.9/site-packages (from scipy) (1.24.3)
Installing collected packages: scipy
Successfully installed scipy-1.10.1
Note: you may need to restart the kernel to use updated packages.

In [88]:
#improt relevant libraries
import pandas as pd
from scipy import stats

In [72]:
#load dataset
experiment=pd.read_csv("/Users/guyuhui/Desktop/experiment_dataset.csv")

In [73]:
experiment.head()

   Unnamed: 0  Age   Location   Device    Variant  Time Spent       CTR
0           0   62  Location2  Device2    Control   13.928669  0.084776
1           1   18  Location1  Device1  Variant B   11.310518  0.096859
2           2   21  Location2  Device1  Variant B   24.842100  0.097630
3           3   21  Location1  Device3  Variant B   20.061300  0.109783
4           4   57  Location1  Device2  Variant B   34.495503  0.068579

In [74]:
#add colums as 'User ID'
new_columns = experiment.columns.values
new_columns[0] = 'User ID'
experiment.columns = new_columns
experiment.set_index('User ID', inplace=True)

experiment.head()

         Age   Location   Device    Variant  Time Spent       CTR
User ID
0         62  Location2  Device2    Control   13.928669  0.084776
1         18  Location1  Device1  Variant B   11.310518  0.096859
2         21  Location2  Device1  Variant B   24.842100  0.097630
3         21  Location1  Device3  Variant B   20.061300  0.109783
4         57  Location1  Device2  Variant B   34.495503  0.068579

In [76]:
experiment.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Age         1000 non-null   int64
 1   Location    1000 non-null   object
 2   Device      1000 non-null   object
 3   Variant     1000 non-null   object
 4   Time Spent  1000 non-null   float64
 5   CTR         1000 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 54.7+ KB

In [104]:
#use ANOVA to check CTR
Var_a = experiment[experiment['Variant'] == 'Variant A']['CTR']
Var_b = experiment[experiment['Variant'] == 'Variant B']['CTR']
control = experiment[experiment['Variant'] == 'Control']['CTR']

p_val = stats.f_oneway(Var_a, Var_b, control)
print(p_val)

F_onewayResult(statistic=93.58891593622702, pvalue=5.638952705781554e-38)

In [105]:
#use ANOVA to check Time Spent 
Var_a = experiment[experiment['Variant'] == 'Variant A']['Time Spent']
Var_b = experiment[experiment['Variant'] == 'Variant B']['Time Spent']
control = experiment[experiment['Variant'] == 'Control']['Time Spent']

p_val = stats.f_oneway(Var_a, Var_b, control)
print(p_val)

F_onewayResult(statistic=75.60840947416146, pvalue=2.676826588910432e-31)

In [108]:
#use t-test to compare CTR
var_a = experiment[experiment['Variant']=='Variant A']['CTR']
var_b = experiment[experiment['Variant']=='Variant B']['CTR']
control = experiment[experiment['Variant']=='Control']['CTR']

p_val = stats.ttest_ind(var_a, control)
p_val_2 = stats.ttest_ind(var_b, control)
p_val_3 = stats.ttest_ind(var_a, var_b)
print(p_val)
print(p_val_2)
print(p_val_3)

Ttest_indResult(statistic=13.829424737499187, pvalue=1.9602781373243157e-38)
Ttest_indResult(statistic=6.4718143491783255, pvalue=1.8743198199982106e-10)
Ttest_indResult(statistic=7.08499696316128, pvalue=3.587180487986577e-12)

In [111]:
#use t-test to compare Time Spent
var_a = experiment[experiment['Variant']=='Variant A']['Time Spent']
var_b = experiment[experiment['Variant']=='Variant B']['Time Spent']
control = experiment[experiment['Variant']=='Control']['Time Spent']

p_val = stats.ttest_ind(var_a, control)
p_val_2 = stats.ttest_ind(var_b, control)
p_val_3 = stats.ttest_ind(var_a, var_b)
print(p_val)
print(p_val_2)
print(p_val_3)

Ttest_indResult(statistic=12.142363487472364, pvalue=8.488565644996449e-31)
Ttest_indResult(statistic=8.174237395991806, pvalue=1.496358076285182e-15)
Ttest_indResult(statistic=3.6788175394209075, pvalue=0.0002534771014765265)

In [113]:
#check mean for CTR and Time Spent
experiment.groupby('Variant')[['CTR','Time Spent']].mean()

                CTR  Time Spent
Variant
Control    0.098554   20.070781
Variant A  0.120269   24.805547
Variant B  0.108933   23.343783

Question 3
After applying ANOVA to compare all 3 groups (Variant A, Variant B, Control), we can see that the p-value of the analysis for both CTR and Time Spent is less than 0.05, which implies they both have a statistically significant result and the results against the null hypothesis that the behaviours have no difference in Click-Through-Rate and Time Spent. In other words, this means that Variant A and Variant B have completely different behaviours in their Click-Through-Rate and Time Spent, based on the design experiment.

According to the t-test for comparing CTR, we can see both Variant A and Variant B are statistically significantly different than the Control group because the p-value are all less than 0.05. They also statistically significantly from each other. Same for the Time Spent, the p-value are all less than 0.05 and they all have a statistically significant result between each comparison.

We can use the mean function to address the final conclusion. According to the table, we can see CTR is slightly better than the control group, and Variant A resulted in a much higher Click-Through-Rate than Variant B. Since we know the result is statistically significant, therefore we should implement Variant A to drive higher Click-Through-Rate in our users. Similar to time Spent, both variants are better than the control group and Variant A resulted in much higger Time Spent, so we should pick Variant A as our top choice.

In conclusion, all the results indicate Variant A is a good choice from a business perspective. Our goal is to increase users' CTR and time spent on our mobile application, and we can see Variant A results in CTR and Time Spent significantly lift. After applying Vairant A to all users, this mobile application can be liked by more people and would make revenue for te company. It's important to recognize that introducing the new feature may not always lead to an increase in CTR and time spent on the mobile application. Therefore, it's necessary to develop a plan and test methods that can sustain the current performance in the long term.

Question 4
The roll-out plan will be implemented in four weeks.
In the first week, the company can conduct internal testing of the mobile software, involving all employees to test the new features initially. Employees will notice a distinct difference in the visual appearance of the new features compared to previous versions. Throughout the testing process, the company can measure CTR and time spent on the features. 
After a week of testing, the company can employ a survey to gather feedback from individuals regarding their impressions of the new features. Also, the engineering team can analyze any impact on revenue resulting and use experience from the new features and make changes afterwards.

In the second week, companies can test the mobile application with friends and family of the employees to obtain a more subjective perspective on the new features prior to releasing them to the public. Subsequently, the engineering team can employ the same methodology to assess any changes in CTR, time spent, and revenue. After gathering feedback, final adjustments can be made based on the insights gained from the testing process.

In the third week, the mobile application can be released to 50% of the general public for testing, aiming to incorporate any final modifications before a full market launch. During this phase, CTR, time spent, and revenue will also be monitored and recorded as well. 

In the last week, the mobile application will undergo an official roll out. Following three rounds of testing with different user batches, the new features will be fine-tuned based on the insights gained from the previous test records. The aim is to make the software both profitable and suitable for users of all age groups. Over a period of six months after the official launch, user feedback will be collected to plan for future updates and ensure long-term benefits while maintaining a positive user experience.